<tool-header headerText="Color Tool"></tool-header>
<data-table [config]="colorTableConfig" [data]="colors"></data-table>

<!-- Example using reactive forms -->
<!-- Brackets around the formGroup cause it to be expanded, called "computed properties" -->
<form [formGroup]="colorReactiveForm">

  <div>
    <!-- ng-model (template forms), reactive forms can be used to connect form to a model -->

    <label for="color-name2">Color Name:</label>
    <input type="text" id="color-name2" name="colorNameInput" formControlName="colorNameInput">
    <label for="color-hexcode2">Color Hexcode:</label>
    <input type="text" id="color-hexcode2" name="colorHexCode" formControlName="colorHexCodeInput">

2 </div>
  <button type="button" (click)="showReactiveForm()">Save</button>
</form>
