<tool-header [headerText]></tool-header>
<table-component [cars]="cars"></table-component>

<!-- Example using reactive forms -->
<!-- Brackets around the formGroup cause it to be expanded, called "computed properties" -->
<form [formGroup]="carReactiveForm">
  <div>
    <!-- ng-model (template forms), reactive forms can be used to connect form to a model -->
    <b>Enter your darn car details</b>
    <p>
    <label for="car-make2">Car Make:</label>
    <input type="text" id="car-make2" name="carMakeInput" formControlName="carMakeInput">

    <label for="car-model2">Car Model:</label>
    <input type="text" id="car-model2" name="carModelInput" formControlName="carModelInput">

    <label for="car-year2">Car Year:</label>
    <input type="text" id="car-year2" name="carYearInput" formControlName="carYearInput">

    <label for="car-price2">Car Price:</label>
    <input type="text" id="car-price2" name="carPriceInput" formControlName="carPriceInput">

    <label for="car-color2">Car Year:</label>
    <input type="color" id="car-color2" name="carColorInput" formControlName="carColorInput">
    </p>


  </div>
  <button type="button" (click)="showReactiveForm()">Save</button>
</form>
